# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Build directories
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Pods/
ios/Runner.xcworkspace/
ios/Pods.xcodeproj/

# Android related
.android/
android/.gradle/
android/app/build/
android/local.properties

# Other IDE specific files
.idea/
*.iml
*.ipr
*.iws
*.hprof

# Ignore all Flutter modules
/*

# Except the lib folder
!/lib/
